.three-images {
  display: grid;

  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  gap: 1.5rem;
  height: 100%;
}

.mainimage-1 {
  grid-row-start: 1;
  grid-column-start: 2;

  grid-row-end: 3;
  grid-column-end: 2;
}

.mainimage-2 {
  grid-row-start: 1;
  grid-column-start: 3;

  grid-row-end: 2;
  grid-column-end: 3;
}

.mainimage-3 {
  grid-row-start: 2;
  grid-column-start: 3;

  grid-row-end: 3;
  grid-column-end: 3;
}

.five-images {
  display: flex;
  justify-content: center;
}

.card-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1%;
  padding-top: 2rem;
  background-color: white;
}

.item-titles{
    text-align: center;
    font-weight: bold;
}

.standart-button{
	background: #0061a7;
	background-color:#007dc1;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
  margin-top: 5%;
}

.standart-button:hover {
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	background-color:#0061a7;
}
.standart-button:active {
	position:relative;
	top:1px;
}

.newProducts-text{
    display: flex;
    justify-content: center;
    font-size: 32px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #DDE1ED;
    border-radius: 15px 16px 0px 0px;
}
.newProducts-section{
    background-color: #DDE1ED;
    border-radius: 0px 0px 15px 15px;
}
.newProducts {
    display: flex;
}
.li-style{
  justify-items: center;
}
.price{
  margin-left: 25%;
  font-weight: bolder;
  color: #154682;
}
.description{
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid ;
  border-style: none;
  width: 10rem;
  overflow-x: hidden;
}
.glide{
  padding-left: 3rem;
}


@media (max-width: 700px) {
.three-images {
   display: grid; 

   grid-template-rows:1fr 1fr;
   grid-template-columns: 1fr;
   
   gap: 1%;
   height: 100%;
   width: 40rem;   
}
  
.mainimage-2 {
   grid-row-start: 1;
   grid-column-start: 1;

   grid-row-end: 2;
   grid-column-end: 2;
   width: 100%;
            height: 100%;
            display: block;
            object-fit:cover;
   
}
.mainimage-3{ 
   grid-row-start: 2;
   grid-column-start: 1;

   grid-row-end: 3;
   grid-column-end: 2;
   width: 100%;
            height: 100%;
            object-fit: cover;
   
}
.mainimage-1{
   display: none;
}

br {
  display: none;
}

.standart-button{
  background-color: none;
  background: none;
  border: none;
  color: #007dc1;;
}
.five-images{
  flex-direction: column;
  width: 40rem;
}

.card-style {
  display: grid;

  grid-template-rows: 1fr 1fr;
  grid-template-columns:1fr 1fr;

  gap: 0;
  height: 100%;
  box-shadow: 0px 5px 0px 0px rgba(209,199,199,0.75);
}

.card-style img {
  grid-row-start: 1;
  grid-column-start: 1;

  grid-row-end: 3;
  grid-column-end: 2;
  width: 80%;
  height: 60%;
  object-fit: cover;
  
}

.item-titles {
  grid-row-start: 1;
  grid-column-start: 2;

  grid-row-end: 2;
  grid-column-end: 3;
  font-size: 28px;
  align-self: last baseline;
}

.standart-button{
  grid-row-start: 2;
  grid-column-start: 2;

  grid-row-end: 3;
  grid-column-end: 3;
  font-size: larger;
  align-self: baseline;
}

.newProducts-section,
 .newProducts-text{
  width: 40rem;
}
.glide__track{
  padding-left: 2rem;
}

}